Django==1.4
Markdown==2.2.0
PIL==1.1.7
PyGithub==1.4
Pygments==1.5
South==0.7.5
akismet==0.2.0
distribute==0.6.24
dj-database-url==0.2.1
django-appconf==0.5
django-filebrowser==3.4.3
django-grappelli==2.3.8
django-markdown==0.1.0
django-social-auth==0.7.1
django-staticfiles==1.2.1
django-taggit==0.9.3
django-tinymce==1.5.1b2
httplib2==0.7.4
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
wsgiref==0.1.2
