Django==1.4.1
Markdown==2.2.0
PIL==1.1.7
Pygments==2.7.4
South==0.7.6
akismet==0.2.0
dj-database-url==0.2.1
django-dajax==0.9.2
django-dajaxice==0.5.2
django-grappelli==2.4.0
django-taggit==0.9.3
httplib2==0.7.4
oauth2==1.5.211
psycopg2==2.4.5
wsgiref==0.1.2
