<script type="text/javascript">
                function my_js_callback(data){
                        alert(data.message);
                }
</script>
{% extends "blogman/base.html" %}
{% block content %}
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}
    <ul>{% load menubuilder %}{% menu nosotros %}
    {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
    {% endfor %}
</ul>
    <h1><a onclick="Dajaxice.blogman.helloWorld(my_js_callback)">SALUDO</a></h1>
        {% for entry in latest %}
            <h2>{{ entry.title }}</h2>
            <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
            {% if entry.excerpt_html %}
                {{ entry.excerpt_html|safe }}
            {% else %}
                {{ entry.body_html|truncatewords_html:"50"|safe }}
            {% endif %}
            <p><a href="{{ entry.get_absolute_url }}">Read More</a></p>
        {%endfor%}
{% endblock %}

{% block sidebar %}
    <p>This is a list of the latest {{ latest.count }} entries published in my blog.</p>
{% endblock %}