{% extends "blogman/base.html" %}
{% block content %}
        {% for link in latest %}
            <h2>{{ link.title }}</h2>
            <p>Published on {{ link.pub_date|date:"F j, Y" }}</p>
            {% if link.excerpt_html %}
                {{ link.excerpt_html|safe }}
            {% else %}
                {{ link.body_html|truncatewords_html:"50"|safe }}
            {% endif %}
            <p><a href="{{ link.get_absolute_url }}">Read More</a></p>
        {%endfor%}
{% endblock %}

{% block sidebar %}
    <p>This is a list of the latest {{ latest.count }} entries published in my blog.</p>
{% endblock %}